body{
    font:20px Arial, Helvetica, sans-serif;
}

#quemSomos p{
    margin: 0 10px;
    text-align: justify;
}

#servicos p{
    margin: 0 10px;
    text-align: justify;
}

.tamanho{
    width: 220px;
    height: 80px;
}

.navbar{
    background-color: #00699e;
}

.navbar-nav .nav-link.active{
    color: #fff;
}

.nav-link{
    color: #fff;
}

.quem-somos{
    background-color: #4fb2e4;
    color: #ffffff;
}

.margin{
    padding: 10px 0 50px 0;
}

.img-time{
    width: 400px;
    height: 400px;
    margin: 20px 0;
}

h3{
    font-weight: bold;
    text-transform: uppercase;
}

.parceiros{
    background-color: #a7e2ff;
}

.img-partners{
    width: 100%;
}

.img-services{
    width: 100%;
}

footer{
    padding: 10px 0;
}

.bg-footer{
    background-color: #00699e;
}